@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="bg-white border-transparent rounded-lg shadow-lg">
    <div class="bg-grey-light border-b-2 border-grey rounded-tl-lg rounded-tr-lg p-2">
        <h5 class="uppercase text-grey-dark">@ViewData["Title"]</h5>
    </div>
    <div class="p-5">
        <p>
            All the data is anonymous and no personal information is required. <br/>
            All you need is an email address to login with. This can even be a fake email address, we don't really check it out<br/>
            And the names of people in your group that are been scanned can also just be nick names. Again, we're not interested in the data and it doesn't mean anything to us precisely because it is so wildly anonymous and unreliable.
        </p>
        <p>
            What we do care about is making your life easier and having a paperless way for you to keep track of scans for your own compliance.
        </p>
    </div>
</div>
