@model covidance.Data.PersonInfo

@{
    ViewData["Title"] = $"Scan {Model.Name}";
}

    <div class="bg-blue-800 p-2 shadow text-xl text-white">
        <h3 class="font-bold pl-2">@ViewBag.Title (<a asp-action="Index">Cancel</a>)</h3>
    </div>
    <div class="flex flex-wrap">
        <form asp-action="Create">
            <input type="hidden" name="PersonId" value="@Model.Id" />
            <div class="form-group">
                <label class="control-label">Temperature</label>
                <input name="Temperature" class="form-control" required maxlength="7" />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" name="RecentContact" value="true" /> Recently been in contact with someone who has/had Covid-19?
                    <input type="hidden" name="RecentContact" value="false" />
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" name="Sanitised" value="true" /> Sanitised hands?
                    <input type="hidden" name="Sanitised" value="false" />
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" name="Bagged" /> Handing in belongings?
                    <input type="hidden" name="Bagged" value="false" />
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">Reason for visit</label>
                <input name="Reason" class="form-control" required maxlength="128" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
