@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="bg-white border-transparent rounded-lg shadow-lg">
    <div class="bg-grey-light border-b-2 border-grey rounded-tl-lg rounded-tr-lg p-2">
        <h5 class="uppercase text-grey-dark">@ViewData["Title"]</h5>
    </div>
    <div class="p-5">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
