<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - covidance</title>
    <link rel="stylesheet" href="~/css/fontawesome.css" />
    <link rel="stylesheet" href="~/css/tailwind.min.css" />
    <link rel="stylesheet" href="~/css/emoji.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-gray-900 font-sans leading-normal tracking-normal mt-12">

    <nav class="bg-gray-900 pt-2 md:pt-1 pb-1 px-1 mt-0 h-auto fixed w-full z-20 top-0">
        <div class="flex flex-wrap items-center">
            <div class="flex flex-shrink md:w-1/3 justify-center md:justify-start text-white">
                <a href="/">
                    <span class="text-xl pl-2"><i class="em em-grinning"></i></span>
                </a>
            </div>
        </div>

        <partial name="_LoginPartial" />
        <partial name="_LoggedInPartial" />

    </nav>
    
    <div class="flex flex-col md:flex-row">

        <partial name="_LoggedinNav" />

        <div class="main-content flex-1 bg-grey-lightest mt-12 md:mt-2 pb-24 md:pb-5">
            @RenderBody()
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container inline-block py-2 px-4 text-white no-underline">
            &copy; 2020 - covidance - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="inline-block py-2 px-4 text-white no-underline">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Chart.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
